folio-ilyas.duckdns.org {
  handle /api/* {
    reverse_proxy {
      dynamic a {
        name backend
        port 8080
      }
      lb_policy round_robin
    }
  }

  handle /grafana/* {
    reverse_proxy grafana:3000
  }

  handle {
    reverse_proxy frontend:80
  }
}
